.admin-wrapper {
    padding-bottom: 40px;
}
.resp-img-box {
    img {
        max-width: 100%;
    }
}
.mb-20 {
    margin-bottom: 20px;
}
// products table

.products-wrapper {
   overflow-x: auto;
   white-space: nowrap;
   margin-bottom: 3rem;
}
.products-table {
    white-space: normal;
    margin-bottom: 0;
    min-width: 1200px;
}
.product-actions {
    a {
        margin: 0 5px;
    }
}

table {
  border-collapse: collapse;
  width: 100%;
  table-layout: fixed;
}

td, th {
    background: #fff;
    border-width: 0;
    border-bottom: 1px solid #B8B8B8;
    font-weight: normal !important;
    padding: 15px;
    text-align: left;
    vertical-align: middle;
}

tr {
  &.bg-shade-1 {
    td, th {
      background: #ff3360;
    }
  }

  &.bg-shade-2 {
    td, th {
      background: #c21749;
    }
  }

  &.bg-shade-3 {
    td, th {
      background: #911546;
    }
  }

  &.bg-shade-4 {
    td, th {
      background: #66203C;
    }
  }

  &.bg-shade-5 {
    td, th {
      background: #4C1A2E;
    }
  }
  .w-120 {
      width: 120px;
  }
  .w-100 {
      width: 100px;
  }
  .w-150 {
      width: 150px;
  }
  .w-300 {
      width: 300px;
  }
  .w-250 {
      width: 250px;
  }
  .small {
      font-size: 12px;
  }
}

thead, tfoot {
  text-transform: uppercase;

  th {
    background: #ddd;
    font-size: 13px;
  }
}

body {
  color: #111;
  font-size: 16px;
  font-family: sans-serif;
}

.icon_menu {
	display: block;
	height: 10px;
	margin: auto;
	position: relative;
	width: 16px;

	.icon_menu__solid, &:before, &:after {
		background: #fff;
		display: block;
		height: 2px;
	}

	.icon_menu__solid {
		position: relative;
		top: 50%;
		transform: translateY(-50%);
	}

	&:before, &:after {
		content: "";
		left: 0;
		position: absolute;
		right: 0;
	}

	&:before {
		top: 0;
	}

	&:after {
		bottom: 0;
	}
}

.gu-mirror {
  position: fixed !important;
  margin: 0 !important;
  z-index: 9999 !important;
}
.gu-hide {
  display: none !important;
}

.gu-transit {
  opacity: 0.2;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=20)";
  filter: alpha(opacity=20);
}
.gu-mirror {
  opacity: 0.8;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
  filter: alpha(opacity=80);
}
