<div class="header_bottom sticky-header">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-3">
                <div class="categories_menu">
                    <div class="categories_title">
                        <h2 class="categori_toggle">Categorii Produse</h2>
                    </div>
                    <div class="categories_menu_toggle">
                        <ul>
                            <% @main_categories.each do |category| %>
                            <li class="menu_item_children"><a href="#"> <%= category.name %><i class="fa fa-angle-right"></i></a>
                                <ul class="categories_mega_menu">
                                    <li class="menu_item_children">
                                        <ul class="categorie_sub_menu">
                                            <% category.subcategories.each do |subcategory| %>
                                              <li><a href=""><%= subcategory.name %></a></li>
                                            <% end %>
                                        </ul>
                                    </li>
                                </ul>
                            </li>
                            <% end %>
                            <li id="cat_toggle" class="has-sub"><a href="#">  More Items</a>
                                <ul class="categorie_sub">
                                    <li><a href="#">Hide Categories</a></li>
                                </ul>

                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <!--main menu start-->
                <!-- <div class="main_menu menu_position">
                    <nav>
                        <ul>
                            <li><a class="active"  href="index.html">home<i class="fa fa-angle-down"></i></a>
                                <ul class="sub_menu">
                                    <li><a href="index.html">Home shop 1</a></li>
                                    <li><a href="index-2.html">Home shop 2</a></li>
                                    <li><a href="index-3.html">Home shop 3</a></li>
                                    <li><a href="index-4.html">Home shop 4</a></li>
                                </ul>
                            </li>
                            <li class="mega_items"><a href="shop.html">shop<i class="fa fa-angle-down"></i></a>
                                <div class="mega_menu">
                                    <ul class="mega_menu_inner">
                                        <li><a href="#">Shop Layouts</a>
                                            <ul>
                                                <li><a href="shop-fullwidth.html">Full Width</a></li>
                                                <li><a href="shop-fullwidth-list.html">Full Width list</a></li>
                                                <li><a href="shop-right-sidebar.html">Right Sidebar </a></li>
                                                <li><a href="shop-right-sidebar-list.html"> Right Sidebar list</a></li>
                                                <li><a href="shop-list.html">List View</a></li>
                                            </ul>
                                        </li>
                                        <li><a href="#">other Pages</a>
                                            <ul>
                                                <li><a href="cart.html">cart</a></li>
                                                <li><a href="wishlist.html">Wishlist</a></li>
                                                <li><a href="checkout.html">Checkout</a></li>
                                                <li><a href="my-account.html">my account</a></li>
                                                <li><a href="404.html">Error 404</a></li>
                                            </ul>
                                        </li>
                                        <li><a href="#">Product Types</a>
                                            <ul>
                                                <li><a href="product-details.html">product details</a></li>
                                                <li><a href="product-sidebar.html">product sidebar</a></li>
                                                <li><a href="product-grouped.html">product grouped</a></li>
                                                <li><a href="variable-product.html">product variable</a></li>

                                            </ul>
                                        </li>
                                    </ul>
                                </div>
                            </li>
                            <li><a href="blog.html">blog<i class="fa fa-angle-down"></i></a>
                                <ul class="sub_menu pages">
                                    <li><a href="blog-details.html">blog details</a></li>
                                    <li><a href="blog-fullwidth.html">blog fullwidth</a></li>
                                    <li><a href="blog-sidebar.html">blog sidebar</a></li>
                                </ul>
                            </li>
                            <li><a href="#">pages <i class="fa fa-angle-down"></i></a>
                                <ul class="sub_menu pages">
                                    <li><a href="about.html">About Us</a></li>
                                    <li><a href="services.html">services</a></li>
                                    <li><a href="faq.html">Frequently Questions</a></li>
                                    <li><a href="contact.html">contact</a></li>
                                    <li><a href="login.html">login</a></li>
                                    <li><a href="404.html">Error 404</a></li>
                                </ul>
                            </li>
                            <li><a href="contact.html"> Contact Us</a></li>
                        </ul>
                    </nav>
                </div> -->
                <!--main menu end-->
            </div>
            <div class="col-lg-3">
                <div class="call-support">
                    <p><a href="tel:(08)23456789">(0744) 549 679</a> Customer Support</p>
                </div>
            </div>
        </div>
    </div>
</div>
