
    <div class="shop_area shop_reverse mt-70 mb-70">
          <div class="container">
              <div class="row">
                <%= render partial:"sidebar_menu" %>
                <%= render partial: "product_area" %>
              </div>
          </div>
    </div>
