<h1>Modifică această categorie</h1>

<%= render 'form', category: @category %>

<%= link_to 'Arată', @category %> |
<%= link_to 'Înapoi', categories_path %>
<%= link_to 'Înapoi la pagina de administrare', admin_private_path %>

