<!--slider area start-->
<section class="slider_section slider_s_three">
    <div class="container">
        <div class="row">
            <div class="col-lg-9 offset-lg-3">
                <div class="slider_area owl-carousel">
                    <% SliderImage.all.each do |slider| %>
                    <div class="single_slider d-flex align-items-center" data-bgimg="<%= url_for slider.image %>">
                        <div class="slider_content slider_c_three">
                            <h1>Vegetables 100% Organic</h1>
                            <p>
                            Organic ingredients & healthy recipes
                            </p>
                            <a href="shop.html">Read more </a>
                        </div>
                    </div>
                    <% end %>
                </div>
            </div>
        </div>
    </div>

</section>
        <!--slider area end-->
